/* App.scss - Styles for non-MUI components */

body {
  background-color: black;
}

/* Loading container */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* App container */
.app-container {
  max-width: 1200px;
  min-height: 100vh;

  /* Header styles */
  .app-header {
    display: flex;
    justify-content: space-between;

    .header-content {
      display: flex;
      flex-direction: column;
    }
  }

  /* Landing page styles */
  .landing-page {
    text-align: center;
  }
}
